.items__row {
   vertical-align: middle;
   font-size: 17px;
}

.user__name {
   font-weight: 600;
}

.user__position {
   font-weight: normal;
   font-style: italic;
}

.user__info {
   font-weight: 500;
}

.user__blocked {
   opacity: 0.5;
}

.user__status {
   opacity: 1;
}
