.heading {
   font-size: 20px;
   font-weight: 600;
}

.user__name {
   color: blueviolet;
   text-decoration: none;
   margin-left: 10px;
}

.logout {
   color: blueviolet;
   text-decoration: none;
}
